#add_appt {
	float: left;
	clear: right;
}

#plus {
	color: #00E600;
	padding-right: 5px;
}

#align_form {
	float: left;
}

.week {
    font-family: sans-serif;
    font-size: 10pt;
    padding-top: 3%;
}

.column {
    position: relative;
    float: left;
    width: 140px;
    height: 1008px;  /* 24 hours * 42 px / hour */
    background: #F8F8F8;
    border-left: 1px #C9C9C9 solid;
}

#hours { 
	width: 65px;
	border-left: none;
}

.time {
	height: 42px;
	border-bottom: 1px #C9C9C9 dotted;
}

.appointment {
    position: absolute;
    background: #AFD7FF;
    width: 100%;
    border: 1px solid #7A96B2;
}

.timeheader {
	width: 65px;
	float: left;

}

.day_header {
	position: relative;
    float: left;
    width: 140px;
    font-weight: bold;

}